<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>iStore Auth</title>
</head>
<body>
<form action="/auth" method="post">
    <div><label>Логин : <input type="text" name="username"/></label></div>
    <div><label>Пароль : <input type="password" name="password"/></label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>
<a href="/registration">Регистрация</a>
</body>
</html>
