<!DOCTYPE HTML>
<html>
<head>
    <title>iStore</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <div>
        <form action="/logout" method="post">
            <input type="submit" value="Выйти">
        </form>
    </div>
    <div>
        <form method="post">
            <input type="text" name="title" placeholder="Название продукта" />
            <input type="text" name="description" placeholder="Описание продукта" />
            <input type="text" name="price" placeholder="Цена" />
            <button type="submit">Добавить</button>
        </form>
    </div>
    <form method="post" action="findByTitle">
        <input type="text" name="title"/>
        <button type="submit">Найти</button>
    </form>
    <div>Список продуктов</div>
    {{#products}}
            <div>
                <b>{{id}}</b>
                <span>{{title}}</span>
                <span>{{description}}</span>
                <span>{{price}}</span>
                <i>{{userName}}</i>
            </div>
    {{/products}}
</body>
</html>