<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>iStore Регистрация</title>
</head>
<body>
{{#userExists}}
    {{userExists}}
{{/userExists}}
<form action="/registration" method="post">
    <div>
        <label>Логин : <input type="text" name="username"/></label>
    </div>
    <div>
        <label>Пароль : <input type="password" name="password"/></label>
    </div>
    <div>
        <button type="submit">Зарегистрироватся</button>
    </div>
</form>
</body>
</html>