<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<div>Список пользователей</div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
        {{#users}}
            <tr>
                <td>{{username}}</td>
                <td>{{roles}}</td>
                <td><a href="/users/{{id}}">Изменить</a></td>
            </tr>
        {{/users}}
        </tbody>
    </table>
</body>
</html>