<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>iStore users editor</title>
</head>
<body>
    <from action="/users" metod="post">
        <input type="text" value="{{user.username}}" name="username"/>
        {{#roles}}
            <div>
                <label>
                    <input type="checkbox" name="{{roles}}" {{#rolesIsDefault}} checked{{/rolesIsDefault}}>
                    {{roles}}
                </label>
            </div>
        {{/roles}}
        <input type="hidden" value="{{user.id}}" name="userId"/>
        <button type="submit">Сохранить</button>
    </from>
</body>
</html>